<div class="container">
  <h3 class="center">Notas</h3>
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center">Nombre del Curso</h4>
      <h5 class="center">Alejandro Morales Estrada</h5>
      <h5 class="center">Joksan Hamze Mata</h5>
      <h5 class="center">Junnior Villegas Zapata</h5>
    </div>
    <br>
    <div class="col s12 m12 l12">
      <h4 class="center">Actividades</h4>
      <table>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Actividad</th>
              <th>Tiempo</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alejandro</td>
            <td>Front-End</td>
            <td>0.30 min</td>
          </tr>
          <tr>
            <td>Junnior</td>
            <td>Base de Datos</td>
            <td>10 hrs</td>
          </tr>
          <tr>
            <td>Joksan</td>
            <td>Programacion Back-end</td>
            <td>9 hrs</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
